@rojo: #eb2626;

.margenes(@top: 0px, @botton: 0px){
    margin-top: @top;
    margin-bottom: @botton;
}

.jumbotron{
    background-color: @rojo;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @rojo;
    .margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    
}

.footer-address-icon{
    padding-right: 10px;
}